@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
}

html::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
